.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  gap: 30px;
}
.navigation {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  &__icon {
    fill: getColor('white');
    display: none;
  }
  &__list-items {
    color: getColor('argent');
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      width: 120px;
    }
    &:last-child {
      h5 {
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
  }
  &__list-text {
    margin-top: 10px;
    padding-top: 10px;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: getColor('argent');
    &:hover,
    &:focus {
      color: getColor('white');
    }
  }
  &__list-button {
    @extend %button;
    margin: 25px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    width: 210px;
    height: 40px;
  }
  h5 {
    margin: 0;
    padding: 0 0 15px 0;
    color: getColor('white');
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
  }
  p {
    line-height: 20px;
  }
}
.newsletter-form {
  margin: auto;
  width: 340px;
  display: flex;
  flex-direction: column;
  &__input {
    width: 334px;
    margin-top: 18px;
    padding-bottom: 5px;
    background-color: getColor('black');
    color: getColor('argent');
    font-size: 14px;
    line-height: 14px;
    opacity: 0.6;
    border: none;
    border-bottom: 1px solid getColor('argent');
  }
}

@media screen and (min-width: 768px) {
  .navigation-list {
    flex-wrap: nowrap;
    align-content: unset;
    justify-content: unset;
    gap: unset;
  }
  .navigation {
    justify-content: space-between;
    &__icon {
      display: block;
      width: 100px;
    }
    &__list-items {
      width: 280px;
      color: getColor('argent');
      display: flex;
      flex-direction: column;
      &:not(:last-child) {
        width: 170px;
      }
      &:last-child {
        h5 {
          text-align: unset;
        }
        p {
          text-align: unset;
        }
      }
    }
    &__list-button {
      margin: 25px 0;
    }
  }
  .newsletter-form {
    width: 280px;
    &__input {
      width: 280px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-top: 150px;
    &__icon {
      width: unset;
    }
    &__list-items {
      width: unset;
      max-width: 370px;
      &:not(:last-child) {
        width: unset;
      }
    }
    &__list-button {
      margin-top: 34px;
      padding: 14px 140px;
      height: 58px;
    }
    h5 {
      padding: 0 122px 24px 0;
    }
  }
  .newsletter-form {
    width: 369px;
    &__input {
      width: 369px;
    }
  }
}
